<footer
  class="
    d-flex
    flex-wrap
    justify-content-between
    align-items-center
    py-3
    px-5
    border-top
    footer
    bg-corp-secundary
  "
>
  <p class="col-md-4 mb-0 text-muted">© 2021 copyright</p>
  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item" >
      <a [routerLink]="['inicio']" class="nav-link px-2 text-muted">Inicio</a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['tienda']" class="nav-link px-2 text-muted">Tienda</a>
    </li>
  </ul>
</footer>
